.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

calculator input[type="text"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
}

.calculator button {
    width: calc(33.3% - 10px);
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #e0e0e0;
}