.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

calculator input[type="text"] {
  width: calc(100% - 40px);
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: right;
}

calculator button {
  width: calc(25% - 2px);
  height: 60px;
  margin: 2px;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
}
calculator button:hover {
  background-color: #ddd;
}